<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!movieForm.valid">Save Movie</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input 
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="releaseDate">Release Date</label>
            <input 
              type="text"
              id="releaseDate"
              formControlName="releaseDate"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive">
          </div>
      </div>
    </form>
  </div>
</div>
